<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenido a la app{% endblock %}</title>
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Imagen de inicio de sesión">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body class="text-center">
    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
        {% block body %}
        <div class="col-md-5">
            <h2 class="page-header text-primary text-center">Bienvenido a la página </h2>
            <h3 class="text-success">Hola</h3>
            <hr>
            <a href="{{url_for('logout')}}" class="btn btn-primary btn-block">Regresar</a>
        </div>
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>
